{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="text-4xl font-bold text-center text-mak">À propos de nous</h1>

  <div class="bg-mak mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, cupiditate esse. Deleniti eaque labore ex possimus amet optio nobis excepturi, corporis, molestias doloribus dolores, commodi beatae dolorem inventore? Cumque, molestiae!</div>
{% endblock %}
